#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.logo-circle {
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    display: flex;
    background-color: var(--secondary);
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, 0%);
}

.logo-circle img {
    background-color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 15%;
}
.circle {
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    display: flex;
    background-color: var(--button-red);
    position: relative;
    z-index: 2;
    left: 51%;
    transform: translate(5%, -200%);
}

.logo-line {
    border: solid var(--secondary) 8px;   
    position: relative;
    z-index: 2;
    transform: translate(0, -26vw);   
}
.trailer{
    width: 100%;
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
    transform: translate(0, -26vw);
    margin-bottom: -25vw;
}
.trailer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.banner {
    margin-top: 50px;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 30vw; 
    margin-bottom: 20px;  
    position: relative; 
}
.webbaner {
    position: relative;
}

.webbaner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/lehet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 70%;
    filter: grayscale(60%);
}


/* Light Mode kompatibilitás */
#lightMode:checked ~* .webbaner::before {
    opacity: 40%;
}


.card {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 65%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(
            transparent 0%,
            var(--secondary) 30%,
            var(--secondary) 100%);
}

.card__title {
    color: var(--secondary-text);
    margin-bottom: 20px;
    position: relative;
    width: fit-content;
}

.card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--button-red);
}

.card__content--container {
    max-height: 94%;
}

.card__description{
    color: var(--secondary-text);
    font-size: 1.3rem;
    overflow-y: auto;
    padding-right: 0.5rem;
}

.card__description::-webkit-scrollbar {
    width: 4px;
}

.card__description::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

@media (any-hover: hover) and (any-pointer: fine) {
    .card__content {
        transform: translateY(70%);
        transition: transform 0.7s ease-out;

    }

    .card__title::after {
        opacity: 0;
        transform: scaleX(0);
        transition: opacity 0.7s ease-in, transform 0.7s ease-out;

        transform-origin: right;
    }

    .card__background {
        transition: transform 0.7s ease-in-out;
    }

    .card__content--container> :not(.card__title) {
        opacity: 0;
        transition: transform 0.7s ease-in-out, opacity 0.3s ease-in-out;
    }

    .card:hover .card__content,
    .card:focus-within .card__content {
        transform: translateY(0);
        transition: transform 0.7s ease-in;
    }

    .card:focus-within .card__content {
        transition-duration: 0ms;
    }

    .card:hover .card__background,
    .card:focus-within .card__background {
        transform: scale(1.15);
    }

    .card:hover .card__content--container> :not(.card__title),
    .card:hover,
    .card:focus-within .card__content--container> :not(.card__title),
    .card:focus-within {
        opacity: 1;
        transition: opacity 0.7s ease-in;
        transition-delay: 0.2s;
    }

    .card:hover .card__title::after,
    .card:focus-within .card__title::after {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
        transition: opacity 0.7s ease-in, transform 0.7s ease-in;
    }
}
.play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    flex-direction: column;
    gap: 15px;
    font-size: 1.7rem;
    padding-bottom: 5rem;
    button {
        border: none;
        font-size: 1.4rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 1260px) {
    .card__title{
        font-size: 1.2rem;
    }

    .card__description {
        max-height: inherit;
        font-size: 1rem;
    }
    .trailer{
        transform: translate(0, -30vw);
    }
    .logo-line{
        transform: translate(0, -30vw); 
    }
    .circle {
        height: 17vw;
        width: 17vw;
        transform: translate(5%, -180%);
    }
    .logo-circle {
        height: 29vw;
        width: 29vw;
        transform: translate(-50%, 5%);
    }
    .trailer{
        height: 100vw;
    }
    h2{
        font-size: 30px;
    }
    .play{
        text-align: center;
    }
}

@media screen and (max-width: 820px) {
    .row {
        .col-2 {
            grid-column: span 12;
        }
        .col-3 {
            grid-column: span 6;
        }
    }
}
@media screen and (max-width: 550px) {
    .row {
        .col-3{
            grid-column: span 12;
        }
    }
}