:root {
    --main: #0F3B52;
    --main-text: #C2FFCA;
    --secondary: #453A43;
    --secondary-text: #F7F8CA;
    --button-red: #C33835;
}

#lightMode:checked ~ * {
    --main: #C2FFCA;
    --main-text: #0F3B52;
    --secondary: #F7F8CA;
    --secondary-text: #453A43;
}

.page-wrapper {
    height: 100%;
    min-height: 100vh;
    background-color: var(--main);
    z-index: -10;
}
.light-theme {
    --main: #C2FFCA;
    --main-text: #0F3B52;
    --secondary: #F7F8CA;
    --secondary-text: #453A43;
}


.light-theme {
    --main: #C2FFCA;
    --main-text: #0F3B52;
    --secondary: #F7F8CA;
    --secondary-text: #453A43;
}

body {
    background-color: var(--main);
    color: var(--secondary-text);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    color: var(--main-text);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
    width: 100%;
}

.navbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.title {
    font-size: 5rem;
    z-index: 100;
    text-align: center;
    position: relative;
    background-color: transparent;
    color: var(--main-text);
    font-family: "Goblin One", serif;
    top: -3%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 20px;
}

a {
    display: flex;
    opacity: 70%;
    text-decoration: none;
}

.second-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10rem;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 18rem;
    opacity: 100%;
    overflow: hidden;
}
.second-menu a:hover{
    transform: scale(105%);
}

.main-menu button {
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--button-red) 50%, var(--secondary-text) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-clip: text;
    color: transparent;
    transition: 0.7s ease-in-out;
}
.main-menu button:hover{
    background-position: 0 0;   
}

.line {
    border: solid 1px var(--secondary-text);
    width: 100%;
    margin: 10px 0 10px 0;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
}

#light label {
    background-color: var(--main-text);
    position: absolute;
    display: flex;
    top: -30%;
    right: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    align-items: center;
}

#lightMode {
    display: none;
}

.toggle-btn {
    position: relative;
    width: 60px;
    height: 35px;
    border-radius: 40px;
}

#btn span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: var(--main-text);
    border-radius: 40px;
}

#btn span:before,
#btn span:after {
    content: "";
    position: absolute;
    top: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: transform 0.7s ease-in-out;
}

#btn span:before {
    background-color: var(--main-text);
    transform: translate(-40px, 0px);
    z-index: 1;
}

#btn span:after {
    background-color: var(--main);
    transform: translate(8px, 0px);
    z-index: 0;
}

#lightMode:active~* #btn span {
    opacity: 0.5;
}

#lightMode:checked~* #btn span:before {
    transform: translate(23px, -5px);
}

#lightMode:checked~* #btn span:after {
    transform: translate(30px, 0px);
}

.user{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    #profile {
        background-position: center;
        background-color: var(--secondary);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            background-color: white;
            object-fit: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            opacity: 20%;
            
        }
        b {
            margin-left: 15px;
            font-size: 2rem;
            text-align: center;
        }
    }
    #logout{
        font-size: 1.5rem;
        cursor: pointer;
        background-color: var(--button-red);
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        i{
            background-color: var(--button-red);
            color: white;
        }
    }
}

#logout:hover{
    opacity: 80%;
}

#game {
    color: white;
    background-color: var(--button-red);
    background-image: var(--button-red);
    background-clip:border-box;
    border-radius: 10px;
    width: 150px;
    padding: 9px;
}
#game:hover{
    opacity: 90%;
}

#profile b:hover{
    opacity: 60%;
}
#profile img:hover{
    transform: scale(105%);
}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 oszlopos rendszer */
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    .col-1{
        grid-column: span 12;
        text-align: justify;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        justify-content: center;
    }
    .col-2{
        grid-column: span 6;
        text-align: justify;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
    }
    .col-3{
        grid-column: span 4;
        text-align: justify;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
    }
    .col-4{
        grid-column: span 3;
        text-align: justify;
        margin-bottom: 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
    }
    .col-6{
        grid-column: span 2;
        text-align: justify;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
    }
    .col-6-pair{
        grid-column: span 10;
        text-align: justify;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
    }
    .col-3-pair{
        grid-column: span 8;
        text-align: justify;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: var(--main);
}

.hamburger-menu span {
    display: block;
    height: 4px;
    background-color: var(--main-text);
    border-radius: 2px;
    width: 100%;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked~nav {
    display: flex;
}



.top {
    position: fixed;
    right: 40px;
    bottom: 70px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    height: 55px;
    width: 55px;
    background-color: #C33835;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s, transform 0.3s;
    transform: translateY(10px);
}

.top.show {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 1260px) {
    .ham{
        position: relative;  
        top: 20px;     
        margin-bottom: 40px;
    }
    .hamburger-menu {
        display: flex;
        margin-left: 20px;
        z-index: 1000;     
    }

    nav {
        display: none;
        .main-menu{
            flex-direction: column;
            gap: 30px;
        }
        .second-menu{
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;
        }
    }
    .container {
        max-width: calc(100% - 50px);
    }
    #light label {
        top: -20%;
    }
    .line{
        display: none;
    }
    .row{
        .col-4{
            flex: 0 0 calc(100% / 3);
        }
        .col-6{
            grid-column: span 12;
        }
        .col-6-pair{
            grid-column: span 12;
        }
    }
    .title{
        font-size: 7vw;
    }

   .modal-content{
        width: 300px;      
    }
    .modal-content img{
        height: 240px;

    }

    #newValue, #newVersion{
        max-width: 260px;
    }
   



}
@media screen and (max-width: 800px) {
    .row{
        .col-3{
            grid-column: span 6;
        }
        .col-3-pair{
            grid-column: span 12;
        }
        .col-4{
            grid-column: span 6;
        }
         .col-6{
            grid-column: span 12;
        }
        .col-6-pair{
            grid-column: span 12;
        }
    }
    .top{
        display: none;
    }

}
@media screen and (max-width: 550px) {
    .row{
        .col-2{
            grid-column: span 12;
        }
        .col-3{
            grid-column: span 12;
        }
        .col-4{
            grid-column: span 12;
        }
        .col-6{
            grid-column: span 12;
        }
        .col-6-pair{
            grid-column: span 12;
        }
        .col-3-pair{
            grid-column: span 12;
        }
    }
}


