.post, .comment {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.post-author, .comment-author {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}

.post-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
    overflow: hidden;
    font-weight: bold;
    margin-left: 10px;
    background-color: inherit;
}

.post-content, .comment-body{
    overflow: hidden;
    background-color: inherit;
    margin-bottom: 5px;
    margin-left: 10px;
    white-space: pre-line;
}

.post-date, .comment-date{
    background-color: inherit;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    span {
        background-color: var(--main-text);
        color: var(--secondary);
        padding: 5px 10px;
        border-radius: 10px;
        font-weight: bold;
    }
}

.post-date{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
 }

.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-line {
    border: solid 1px var(--secondary-text);
    width: 100%;
    margin: 10px 0 10px 0;
}

#friendRequest{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-text);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    i{
        font-size: 1rem;
        text-align: center;
        color: var(--main);
        background-color: transparent;
    }
}

.plus {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--button-red);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none; /* Alapból rejtve */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {  
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    min-width: 300px;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
    color: white;
    width: 55px;
    background-color: #C33835;
    border: none;
    border-radius: 50%;
    padding: 15px;


}
#saveChanges{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: #C33835;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#newValue{
    font-size: large;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 500px;
    border: 2px solid var(--main-text);
    background-color: var(--secondary);
    border-radius: 20px;
    margin: 20px 0;
    height: 200px;
}
